@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap'); /* Importar fonte Poppins */

body {
  font-family: 'Poppins', sans-serif;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.background {
  background-image: url('../assets/background.jpg');  
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.content-box {
  background-color: #ff6347;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-title,
.form-label {
  color: white; /* Ajustar "Login", "Usuário" e "Senha" para serem brancos */
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px; /* Espaço entre a palavra e o campo */
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px; /* Campos mais arredondados */
  width: 100%;
  box-sizing: border-box;
}

button.login-button {
  padding: 10px 20px;
  background-color: white; /* Botão de login branco */
  color: #ff6347; /* Texto "Entrar" em laranja */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.login-button:hover {
  background-color: #ff4500;
  color: white;
}
